<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/build/vendor.css">
    <link rel="stylesheet" href="/build/application.css">
    <!-- http://www.ruanyifeng.com/blog/2012/11/require_js.html -->
    <script src="require.js" defer async="true" data-main="build/root"></script>
  </head>
  <body ng-controller="MainCtrl" id="main" ng-class="" ng-cloak>
    <div layout="column" class="zero">

      <div  layout="{{ vm.direction }}" layout-md="row" class="two">

        <div flex-md="10" hide-lg class="two_one">
          <img src="assets/logo.png" id="logo">
        </div>
        <div  hide-md="{{ vm.hideBox }}"  class="two_two">
          <h1 class="md-display-2">保障体系模拟仿真系统</h1>
        </div>
        <div >
          <!--日期-->
          <div >
            <h3 class="md-display-1" style="text-align:center">{{nowtime|date:'yyyy-MM-dd'}}</h3>
          </div>
        <!--标语-->
          <div>
            <h2 class="md-display-1" style="background-color:#C62828  ;text-align:right">爱国 敬业 诚信 友善</h2>
          </div>
        </div>
        <!--钟表-->
        <div class="" style="padding-top:20px">
        <!--  <div id="some-nixie-html-value-id"></div>-->
        <div class="diginum" id="clock">
          <div class="frnum">{{nowtime|date:'HH:mm:ss'}}</div>
          <div class="bgnum">88:88:88</div>
        </div>
      </div>
        <!--chart-->
        <div flex="" flex-md="5" class="two_three"></div>
        <div style="padding-right:30px">
          <canvas id="base" class="chart-bar"
            chart-data="data" chart-labels="labels" chart-colors="colors"
            chart-dataset-override="datasetOverride" >
          </canvas>
        </div>
        <div style="padding-right:30px">
          <canvas id="base" class="chart-bar"
            chart-data="data" chart-labels="labels" chart-colors="colors"
            chart-dataset-override="datasetOverride" >
          </canvas>
        </div>
      </div>
    </div>
    <!--。。。这。。。里。。。是。。。第。。。二。。。行。。。组。。。件。。。-->
    <div layout="column" class="test">
      <div  layout="{{ vm.direction }}" layout-md="row" class="">
        <div>
          <!--ship组件-->
          <div layout="column" class="" ng-show="myvar">
            <div class="ship" hide-lg flex='20'>
              <h1 style="text-align:center">海洋石油615</h1>
              <p style="text-align:center">所属海区 渤海<br>船旗国 中国<br>船籍港 天津</p>
              <p style="color:brown">海洋石油615由XXX单位于XXX年购入ssssss，是专为石油平台服务设计的具有供应、拖拽、抛起锚、救助和守护、对外消防灭火等功能的船舶。</p>
              <md-button class="md-raised md-primary" md-colors="{background: 'BLUE'}" style="margin-top:240px">添加</md-button>
              <md-button class="md-raised" style="margin-top:240px;">编辑</md-button>
            </div>
          </div>
        </div>
        <div>
          <!--map组件-->
          <div class="" style="padding-top:10px">
            <div class="goods" hide-lg flex='20'>
            </div>
          </div>
        </div>

        <div>
          <div layout="column" class="three" style="position:absolute;left:1000px;top:80px">
            <div  layout="{{ vm.direction }}" layout-md="row" class="two">
              <div   class="two_two">
                <md-input-container class="md-block" flex-gt-sm md-colors= style="width:500px;">
                  <label >搜索</label>
                  <input ng-model="theMax">
                </md-input-container>
              </div>
              <div>
                <md-button class="md-raised ">搜索</md-button>
              </div>
              <div flex-md="10" hide-lg class="two_one" style="margin-left:20px">
                <md-switch class="md-accent md-raised md-hue-1"  name="" required></md-switch>
              </div>
              <div   class="two_two" style="margin-left:20px">
                <md-switch class="md-primary"  name="" ng-model="d" required></md-switch>
              </div>
              <div style="margin-left:20px">
                <md-switch class="md-primary md-warn"  name="special" ng-model="c" required></md-switch>
              </div>
              <div style="margin-left:20px">
                <md-switch class="md-raised"  name="" ng-model="s" required>仅搜索添加</md-switch>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
<!--列表------------------------------------------------------------------------------>
<md-divider style="margin-top:10px;background-color:#37474F"></md-divider>

<!--仿真开始------------------------------------------------------------------------------>
<md-button class="md-fab" aria-label="Eat cake" style="width:130px;height:130px;position:absolute;left:1620px;bottom:0px">仿真开始
<md-icon md-svg-src="img/icons/cake.svg"></md-icon>
</md-button>
<!--设置模块--------------------------------------------------------------------------------->
<div layout="column" class="test" style="position:absolute;left:1700px;bottom:150px">
  <div  layout="{{ vm.direction }}" layout-md="row" class="">
    <div style="position:relative;right:100px">
      <!--鲁棒度------------------->
      <md-slider-container flex>
      <md-input-container>
        <input flex type="number" ng-model="bass" aria-label="bass" aria-controls="bass-slider">
      </md-input-container>
      <md-slider md-discrete ng-model="bass" min="0" max="100" step="10" aria-label="bass" class="md-primary"
                 md-vertical></md-slider>
      </md-slider>
      <h5>base</h5>
    </md-slider-container>
  </div>
  <div>
    <!--开关复选框----------------->
      <div flex-xs flex="50">
        <md-checkbox aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()">
          <span ng-if="isChecked()">Un-</span>Select All
        </md-checkbox>
      </div>
      <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in items">
        <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
          {{ item }}
        </md-checkbox>
      </div>
    </div>
  </div>
</div>
<!--物资滑动条/天气------------------------------------------------------------------------------->
<div layout="column" class="test">
  <div  layout="{{ vm.direction }}" layout-md="row" class="">
    <div>
      <div style="width:300px">
        <p>仿真名称</p>
        <textarea rows="1" ng-model="notice.content" style="width:80%;position:relative;margin-top:-10px">{{ notice.content }}</textarea>
        <p>仿真简介</p>
        <textarea rows="10" ng-model="notice.content" style="width:80%;position:relative;margin-top:-10px">{{ notice.content }}</textarea>
        <p>备注</p>
        <textarea rows="1" ng-model="notice.content" style="width:80%;position:relative;margin-top:-10px">{{ notice.content }}</textarea>
      </div>
    </div>
    <div>
      <div style="width:300px">
        <md-slider-container>
          <md-button class="md-raised md-primary" style="background-color:#E040FB">物资B</md-button>
          <md-slider flex min="0" max="4000" ng-model="color.white" aria-label="white" id="white-slider">
          </md-slider>
          <md-input-container>
            <input flex type="number" ng-model="color.white" aria-label="white" aria-controls="white-slider">
          </md-input-container>
        </md-slider-container>
        <md-slider-container>
          <md-button class="md-raised">物资C</md-button>
          <md-slider flex ng-model="color.black" min="0" max="4000" aria-label="black" id="black-slider" class="md-accent">
          </md-slider>
          <md-input-container>
            <input flex type="number" ng-model="color.black" aria-label="black" aria-controls="black-slider">
          </md-input-container>
        </md-slider-container>

        <md-slider-container>
          <md-button class="md-raised md-primary md-warn">物资D</md-button>
          <md-slider flex ng-model="color.yellow" min="0" max="30" aria-label="yellow" id="yellow-slider" class="md-primary">
          </md-slider>
          <md-input-container>
            <input flex type="number" ng-model="color.yellow" aria-label="yellow" aria-controls="yellow-slider">
          </md-input-container>
        </md-slider-container>
        <md-slider-container>
          <md-button class="md-raised md-warn" style="background-color:#69F0AE">淡水</md-button>
          <md-slider flex min="0" max="4000" ng-model="color.red" aria-label="red" id="red-slider">
          </md-slider>
          <md-input-container>
            <input flex type="number" ng-model="color.red" aria-label="red" aria-controls="red-slider">
          </md-input-container>
        </md-slider-container>

        <md-slider-container>
          <md-button class="md-raised md-primary">石油</md-button>
          <md-slider flex ng-model="color.green" min="0" max="4000" aria-label="green" id="green-slider" class="md-accent">
          </md-slider>
          <md-input-container>
            <input flex type="number" ng-model="color.green" aria-label="green" aria-controls="green-slider">
          </md-input-container>
        </md-slider-container>

        <md-slider-container>
          <md-button class="md-accent md-raised md-hue-1">物资A</md-button>
          <md-slider flex ng-model="color.blue" min="0" max="30" aria-label="blue" id="blue-slider" class="md-primary">
          </md-slider>
          <md-input-container>
            <input flex type="number" ng-model="color.blue" aria-label="blue" aria-controls="blue-slider">
          </md-input-container>
        </md-slider-container>
      </div>
    </div>
    <div style="position:relative;margin-left:50px"><img src="assets/wea1.png" style="width:70px;margin-top:50px"></div>
    <div><img src="assets/wea1.png" style="width:70px;position:relative;margin-left:5px;margin-top:50px"></div>
    <div><img src="assets/wea1.png" style="width:70px;position:relative;margin-left:5px;margin-top:50px"></div>
    <div><img src="assets/wea1.png" style="width:70px;position:relative;margin-left:5px;margin-top:50px"></div>
    <div><img src="assets/wea1.png" style="width:70px;position:relative;margin-left:5px;margin-top:50px"></div>
    <div><img src="assets/wea1.png" style="width:70px;position:relative;margin-left:5px;margin-top:50px"></div>

    <div style="position:relative;margin-left:60px;margin-top:50px">

      <div>
        <label>风向</label>
        <md-select ng-model="user.dir">
          <md-option ng-repeat="dir in dirs" value="{{dir.abbre}}">
            {{dir.abbre}}
          </md-option>
        </md-select>
      </div>
      <div>
        <label>风力</label>
        <md-select ng-model="user.state">
          <md-option ng-repeat="state in states" value="{{state.abbrev}}">
            {{state.abbrev}}
          </md-option>
        </md-select>
      </div>
      <div>
        <md-slider-container>
          <label>温度(℃)</label>
          <md-slider flex ng-model="color.pink" min="-40" max="50" aria-label="pink" id="pink-slider" class="md-accent">
          </md-slider>
          <md-input-container>
            <input flex type="number" ng-model="color.pink" aria-label="pink" aria-controls="pink-slider">
          </md-input-container>
        </md-slider-container>
    </div>
    <div>
      <md-slider-container>
        <label>湿度(RH)</label>
        <md-slider flex ng-model="color.pink" min="-40" max="50" aria-label="pink" id="pink-slider" class="md-accent">
        </md-slider>
        <md-input-container>
          <input flex type="number" ng-model="color.pink" aria-label="pink" aria-controls="pink-slider">
        </md-input-container>
      </md-slider-container>
    </div>
    <div>
      <md-slider-container>
        <label>能见度(m)</label>
        <md-slider flex ng-model="color.pink" min="-40" max="50" aria-label="pink" id="pink-slider" class="md-accent">
        </md-slider>
        <md-input-container>
          <input flex type="number" ng-model="color.pink" aria-label="pink" aria-controls="pink-slider">
        </md-input-container>
      </md-slider-container>
    </div>
  </div>
</div>

<!--数据统计、柱状图 、、饼图---------------------------------------------------------------------------->
<div layout="column" class="test" style="position:relative;left:910px;top:-685px">
  <div  layout="{{ vm.direction }}" layout-md="row" class="">
    <div style="position:relative;margin-left:0px;margin-top:50px">
      <canvas id="bar" class="chart chart-bar" chart-data="datac" chart-labels="labelsc" chart-series="series">
      </canvas>
    </div>
    <div style="width:300px;height:230px;background-color:#4CAF50;margin-left:10px">
      <h2 class="md-flex" style="position:relative;margin-left:-510px;margin-top:-36px">数据统计</h2>
      <md-content flex layout-padding style="width:280px;height:200px;position:relative;margin-left:10px;margin-top:26px">
      </md-content>
    </div>
    <div style="position:relative;margin-top:50px">
      <canvas id="pie" class="chart chart-pie" chart-data="datab" chart-labels="labelb" chart-options="options">
      </canvas>
    </div>
  </div>
</div>
<!--约束条件----------------------------------------------------------------------------------->
<div  layout="column" ng-cloak style="width:450px;height:200px;position:relative;left:650px;top:-440px">
    <div class="md-toolbar-tools">
      <p>约束条件</p>
    </div>
  <md-content flex layout-padding>
    <p>Label</p>
    <p>Label</p>
    <p>Label</p>
    <p>Label</p>
    <p>Label</p>
    <p>Label</p>

  </md-content>
</div>
<!--物资、载具、海上平台----------------------------------------------------------->
<div layout="column" class="test" style="position:relative;left:910px;top:-1450px">
  <div  layout="{{ vm.direction }}" layout-md="row" class="">
    <div>
      <div  layout="column" ng-cloak style="width:300px;height:330px">
        <span style="height:30px;background-color:#69F0AE">物资</span>
        <md-content flex layout-padding>
          <md-list-item class="md-2-line" ng-repeat="item in todos" ng-click="null">
          <div class="md-list-item-text" layout="column">
            <h3>{{ item.who }}</h3>
            <p>{{ item.notes }}</p>
          </div>
        </md-list-item>
        </md-content>
      </div>
    </div>
    <div style="margin-left:10px">
      <div  layout="column" ng-cloak style="width:300px;height:330px">
        <span style="height:30px;background-color:#ff6384">载具</span>
        <md-content flex layout-padding>
          <md-list-item class="md-2-line" ng-repeat="item in todos" ng-click="null">
          <div class="md-list-item-text" layout="column">
            <h3>{{ item.who }}</h3>
            <p>{{ item.notes }}</p>
          </div>
        </md-list-item>
        </md-content>
      </div>
    </div>
    <div style="margin-left:10px">
      <div  layout="column" ng-cloak style="width:300px;height:330px">
        <span style="height:30px;background-color:#45b7cd">海上平台</span>
        <md-content flex layout-padding>
          <md-list-item class="md-2-line" ng-repeat="item in todos" ng-click="null">
          <div class="md-list-item-text" layout="column">
            <h3>{{ item.who }}</h3>
            <p>{{ item.notes }}</p>
          </div>
        </md-list-item>
        </md-content>
      </div>
    </div>
  </div>
</div>

    <!--  <div layout="column" class="three" style="position:absolute;left:1500px;top:100px">
      <div  layout="{{ vm.direction }}" layout-md="row" class="two">
        <div flex-md="10" hide-lg class="two_one">
          <md-switch class="md-primary"  name="" ng-model="dd" required></md-switch>
        </div>
        <div   class="two_two">
          <md-switch class="md-primary"  name="" ng-model="d" required></md-switch>
        </div>
        <div>
          <md-switch class="md-primary"  name="special" ng-model="c" required></md-switch>
        </div>
        <div>
          <md-switch class="md-primary"  name="" ng-model="s" required>仅搜索添加</md-switch>
        </div>
      </div>
    </div>
    <div layout="column" class="test">
      <div  layout="{{ vm.direction }}" layout-md="row" class="">
        <div>
        </div>
        <div>
        </div>
        <div>
        </div>
      </div>
      <div>
      </div>
    </div>



<md-button class="md-raised md-primary" ng-click="myfunction()">隐藏</md-button>-->
<!--goods-->
    <div layout="column" class="test">
      <div  layout="{{ vm.direction }}" layout-md="row" class="">
        <div>
        </div>
        <div>
        </div>
        <div>
        </div>
      </div>
      <div>
      </div>
    </div>

  </body>
</html>
