<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/build/vendor.css">
    <link rel="stylesheet" href="/build/application.css">
    <!-- http://www.ruanyifeng.com/blog/2012/11/require_js.html -->
    <script src="require.js" defer async="true" data-main="build/root"></script>
  </head>
  <body ng-controller="MainCtrl" id="main" ng-class="" ng-cloak>

    <div id="mc-map">
      <div id="mc-map-header">
        <span class="mc-header-cell">物资总质量：{{map_header.total_m}}吨</span>
        <span class="mc-header-cell">物资总体积：{{map_header.total_v}}立方米</span>
        <span class="mc-header-cell">平台数量：{{map_header.platform}}</span>
        <span class="mc-header-cell">运输船：{{map_header.ship}}</span>
      </div>

      <div id="mc-map-main" ng-click="handle_click_on_map($event)">
        <div id="mc-current-point" ng-show="map.coor_pointer">
          <ng-md-icon class="mc-tool-icon" icon="adjust"  size="40"></ng-md-icon>
        </div>
        <div id="mc-points">
          <div class="mc-point" ng-repeat="($index, $obj) in map.points" id="mcp-{{$index}}"
          ng-style="{'left': $obj.x, 'top': $obj.y}" ng-click="handle_point_select($index, $event)">
            <ng-md-icon ng-class="$obj.t" icon="{{get_point_icon($obj)}}" size="40"></ng-md-icon>
          </div>
        </div>
        <div ng-show="map.show">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="470px" width="675px">
            <defs>
              <filter id="filter">
                <feGaussianBlur stdDeviation="5"/>
              </filter>
              <mask id="mask">
              <rect x="0" y="0" height="470px" width="675px" fill="white" filter="url(#filter)"></rect>
              </mask>
            </defs>

            <image class="test" xlink:href="assets/cn_south_sea.jpeg" mask="url(#mask)" width="{{map.slider}}%"></image>
            <!-- <img src="assets/cn_south_sea.jpeg" alt="" > -->
          </svg>
        </div>

      </div>

      <md-slider-container id="mc-slider">
        <md-slider flex min="100" max="150" ng-model="map.slider" aria-label="blue" id="blue-slider" class="md-primary">
        </md-slider>
      </md-slider-container>

      <div id="mc-bottom">
        <div id="mc-tool-bar">
          <ng-md-icon class="mc-tool-icon" icon="location_on"  size="40"></ng-md-icon>
          <ng-md-icon class="mc-tool-icon" icon="star"  size="40"></ng-md-icon>
          <ng-md-icon class="mc-tool-icon" icon="grid_on"  size="40"></ng-md-icon>

          <ng-md-icon class="mc-tool-icon" icon="language"  size="40"></ng-md-icon>
          <ng-md-icon class="mc-tool-icon" icon="remove_red_eye"  ng-click="toggle_map()" size="40"></ng-md-icon>
          <ng-md-icon class="mc-tool-icon" icon="clear"  size="40" ng-click="clear_selected()"></ng-md-icon>
        </div>
        <div id="mc-select" ng-click="prevent_bubble($event)">
          <div class="mc-selected-point" ng-repeat="($index, $obj) in map.points"
          ng-if="$obj.selected" id="mcsp-{{$index}}"  ng-click="handle_selected_point($index, $obj, $event)">
            <ng-md-icon class="mc-select-icon" ng-class="$obj.t" icon="{{get_point_icon($obj)}}" size="40"></ng-md-icon>
          </div>
        </div>

        <div id="mc-coor">
          <div id="mc-coor-info">
            <div>东经：{{target.x}}</div>
            <div>北纬：{{target.y}}</div>
            <div>海拔：0米</div>
          </div>
          <div id="mc-coor-pointer" ng-click="handle_coor_pointer()" ng-class="{'enabled': map.coor_pointer}">
            <ng-md-icon class="" icon="gps_fixed"  size="72"></ng-md-icon>
          </div>
        </div>
      </div>




    </div>

  </body>
</html>
