@font-face {
	font-family: 'sa-digital-number';
	src: url('../assets/sa-digital-number.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body{
  background-color: gray;
}


.diginum{
  font-family: 'sa-digital-number';
  font-size: 48px;
  position: relative;
  .frnum{
    color: darken(red, 10%);
    background-color: rgba(255, 0, 0, 0.0);
    position: absolute;
    z-index: 1;
  }
  .bgnum{
      position: absolute;
      top: 0;
      color: rgba(107, 107, 107, 0.45);
      z-index: 0;
  }
}
}
