@font-face {
	font-family: 'sa-digital-number';
	src: url("../assets/sa-digital-number.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #05333E;
	position: relative;
	padding-bottom:  120px;
  padding-left:40px;
}


@import 'mc_map.scss';
#sys-title-logo{
	width: 500px;
	padding-top: 16px;
}

#logo {
	display: inline-block;
	img{
		width: 60px;
	}
	// top: 20px;
}

#sys-title{
	color: white;
	display: inline-block;
	vertical-align: top;
	font-size: 36px;
}

#date-show{
	color: white;
	font-size: 24px;
}
#emmmmmm{
	padding: 0px 24px;
	font-size: 28px;
	font-weight: 600;
	color: rgb(234, 238, 187);
	background: linear-gradient(to bottom, #f2f2f2 0%,#e86c57 43%,#630021 100%);
}

#sys-time{
	display: block;
	position: relative;
	margin-left: 64px;
	margin-top: 12px;
}

.diginum {
	font-family: 'sa-digital-number';
	font-size: 48px;
	position: relative;

	.frnum {
		color: darken(red, 10%);
		background-color: rgba(255, 0, 0, 0.0);
		position: relative;
		z-index: 1;
	}

	.bgnum {
		position: absolute;
		top: 0;
		color: rgba(107, 107, 107, 0.45);
		z-index: 0;
	}
}

#sys-monitor{
	display: block;
	position: relative;
	.sub-chart{
		margin-left: 32px;
		display: inline-block;
		background-color: white;
		height: 72px;
		width: 300px;
	}
}



.ship {
	background-color: white;
	//position: ;
	height: 630px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	border: 1px solid #333;
}

// .goods {
// 	background-color: gray;
// 	position: relative;
// 	height: 600px;
// 	width: 3200px;
// 	margin-top: -60px;
// 	margin-left: 10px;
// 	margin-right: auto;
// 	border: 5px solid #333;
// }
//复选框

.checkboxdemoSelectAll .demo-legend {
	color: #3F51B5;
}

.checkboxdemoSelectAll .demo-fieldset {
	border-style: solid;
	border-width: 1px;
	height: 10%;
}

.checkboxdemoSelectAll .demo-select-all-checkboxes {
	padding-left: 30px;
}
//TEST

.contentdemoBasicUsage div.demo-content {
	height: 450px;
}

.contentdemoBasicUsage div[ng-controller] {
	height: 100%;
	padding-bottom: 15px;
}

.contentdemoBasicUsage md-content {
	padding: 24px;
}
